h1 {
    text-align: center;
    font-family: sans-serif;
    font-variant: petite-caps;
    font-weight: bolder;
    font-size: xxx-large;
    border: solid;
    border-width: thick;
    border-color: silver;
    background-color: silver;
    color: white;
  }

    .row {
        display: flex;
        flex-wrap: wrap;
        padding: 0 4px;
        padding-left: 80px;
        padding-bottom: 50px;
    }
  
    .column {
        flex: 25%;
        max-width: 25%;
        padding: 0 4px;
    }
  
    .column img {
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
    }
  
    @media screen and (max-width: 800px) {
        .column {
            flex: 50%;
            max-width: 50%;
        }
    }
  
    @media screen and (max-width: 600px) {
        .column {
            flex: 100%;
            max-width: 100%;
        }
    }

h2 {
    text-align: left;
    padding: 5px;
    font-family: sans-serif;
    font-size: xx-large;
    color: darkgrey;
 }

p { 
    text-align: left;
    font-size: larger;
    padding-left: 20px;
    padding-bottom: 10px;
}

h3 {
    font-family: sans-serif;
    text-align: left;
    padding-left: 20px;
    font-weight: 600;
    color: dimgray;
    border-bottom: solid;
    padding-bottom: 10px;
    border-color: currentColor;
    width: 60%;
}

a {
    font-family: auto;
    color: black;
}